.Connectors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 24px auto;
}

.Connector {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  width: 100%;
  min-width: 360px;
  max-width: 360px;
  height: 150px;
  margin: 12px;

  text-align: left;
  text-decoration: none;

  background: #FFF;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.Connector-name {
  margin: 0 0 12px;
  padding: 0;
  font-size: 18px;
}

.Connector .Connector-icon {
  max-width: 100px;
}

.Connector-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.Connector-body {
  padding: 16px;
}

.Connector-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  padding: 8px 16px;
  width: 100%;

  font-size: 15px;
  border-top: 1px solid #EEF1F2;
}

.Connector-footer .Connector-button {
  margin-left: auto;
}

.Connector-button {
  min-height: 42px;
}
