:local .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:local .wrapper > * {
  margin: 0.5em 0;
}

:local .wrapper section {
  text-align: center;
  margin-top: 2em;
}

:local .wrapper section h2 {
  margin: 0.5em 0;
}

:local .wrapper section h3 {
  margin: 1em 0 0.5em;
}

:local .wrapper section h4 {
  margin: 1em 0 0.5em;
}

:local .wrapper section p {
  width: 800px;
}

:local .columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em 0;
}

:local .column {
  margin: 0 3em;
}

:local .command {
  background-color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  text-align: left;
}

/*:local .wrapper ul {
  display: flex;
  justify-content: center;
}

:local .wrapper ul li {
  margin: 0 0.5em;
}*/
