.SelectedVersion--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 24px auto;
}

.SelectedVersion {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-width: 360px;
  max-width: 360px;
  height: 200px;
  margin: 12px;
  padding: 5px;
  text-align: left;
  text-decoration: none;

  border-radius: 2px;
  border: 1px solid #E0E0E0;
  box-shadow: none;
}

.SelectedVersion-main {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SelectedVersion-body {
  text-align: center;
}

.SelectedVersion-body .VersionInfo {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.SelectedVersion-button {
  margin: 1rem auto;
  min-height: 42px;
}
