.CardItem {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  min-width: 360px;
  max-width: 360px;
  height: 150px;
  margin: 12px;
  padding: 2rem;

  text-align: left;
  text-decoration: none;

  background: #FFF;

  border-radius: 2px;
  border: 1px solid #E0E0E0;
  box-shadow: none;
}

.CardItem-name {
  margin: 0 0 12px;
  padding: 0;
  font-size: 2rem;
}

.CardItem .CardItem-icon {
  max-width: 100px;
}

.CardItem-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.CardItem-body {
  padding: 16px;
  height: 32rem;
}

.CardItem-footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  width: 100%;

  font-size: 15px;
  border-top: 1px solid #EEF1F2;
}

.CardItem-footer .CardItem-button {
  margin-left: auto;
}

.CardItem-status {
  margin-right: 4px;
}

.CardItem-button {
  min-height: 42px;
}
