.Generated {

}

.Generated--col {
  width: 50%;
  float: left;
}

.Generated--key-content {
  margin-top: 3rem;
}

.Generated--key-section {
  text-align: center;
  width: 60%;
  margin: 3rem 0;
}

.Generated code {
  background: #d3d3d3;
  padding: 0.5rem;
  margin: 0.5rem;
}
