.GettingStarted {
}

.GettingStarted p {
  margin-bottom: 1rem;
}

.GettingStarted h1, h2, h3 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}


.GettingStarted--action .Icon {
  font-size: 25px;
}

.GettingStarted .Button--hollow-approve, .GettingStarted .Button--hollow-neutral, .GettingStarted .Button--hollow-danger {
   padding-left: 15px;
   padding-right: 15px;
}

.GettingStarted .Button {
  margin-right: 10px;
}
