.PageLayout {
  padding: 1rem 10%;
  max-width: 1800px;
  margin: auto;
}

@media (max-width: 1280px) {
  .PageLayout {
    padding: 1rem 3%;
  }
}

.PageLayout--Actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.PageLayout--Actions li {
  display: inline;
  padding: .2em;
}
