.TopBar--link {
  padding: 0 1rem;
}

.ConnectorIcon {
  max-width: 100px;
}

.Form {
  background: none;
}

.Page {
  max-width: none;
}

.Container {
  padding: 1rem 10%;
  max-width: 1800px;
  margin: auto;
}

.CenterIt {
  margin: auto;
  width: 350px;
  text-align: center;
}
