.DeviceSchema--actions {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.DeviceSchema button[type="submit"] {
  display: inline-block;
  border:none;
  border-radius: 2px;
  padding: 0.6em 1em;

  background: #E3E3E3;

  font-size: 16px;
  font-family: "citrixsans-regular", Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  user-select: none;
  appearance: none;
  transition-delay: 0;
  transition-duration: .3s;
  transition-timing-function: ease-in;
  transition-property: background, border-color;
  background: #14568F;
  color: white;
}

.DeviceSchema button[type="submit"]:hover {
  background: #104B7E;
}
