.ConnectorStatus {
  padding: 0 1rem;
}

.ConnectorStatus--Running {
  color: #017401;
  font-weight: bold;
}

.ConnectorStatus--Online {
  color: #013B74;
}

.ConnectorStatus--Offline {
  color: #676767;
  font-weight: bold;
}

.ConnectorStatus--Errored {
  color: #CA2329;
}
