.Download--actions {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.Download--row {

}

.Download--actions .Button {
  margin: 10px;
  padding-top: 7px;
}

.Download--icon {
  font-size: 2rem;
}

.Download--action-title {
  margin-top: 5rem;
}

.Download--Box {
  background: #fff;
  margin: 1rem auto;
  padding: 5rem;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  box-shadow: none;
}
