.Versions {
  width: 350px;
  margin: auto;
  margin-top: 2rem;
  padding-left: 30px;
}

.Versions .List-item {
  border: 1px solid #E0E0E0;
}

.Versions--icon {
  font-size: 1.5rem;
  float: right;
}
