.ConfigureCard--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 24px auto;
}

.ConfigureCard {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  width: 100%;
  min-width: 360px;
  max-width: 360px;
  height: 150px;
  margin: 12px;
  padding: 5px;
  text-align: left;
  text-decoration: none;

  background: #FFF;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.ConfigureCard-name {
  margin: 0;
  font-size: 1.3rem;
  text-align: center;
}

.ConfigureCard-name .VersionInfo {
  font-size: 1rem;
}

.ConfigureCard .ConfigureCard-icon {
  max-width: 100px;
}

.ConfigureCard-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.ConfigureCard-body {
  padding: 16px;
}

.ConfigureCard-footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  width: 100%;

  font-size: 15px;
  border-top: 1px solid #EEF1F2;
}

.ConfigureCard-footer .ConfigureCard-button {
  margin: auto;
}

.ConfigureCard-button {
  min-height: 42px;
}
